.location {
  margin-top: 70px;
  text-align: center;
}

.location iframe {
  max-width: 100%;
  height: 450px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {

  .location iframe {
    height: 360px;
  }
}

@media (max-width: 768px) {

  .location iframe {
    height: 300px;
  }
}
