.site-footer {
  background-color: var(--surface);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

.site-footer__icon {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}
